* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

html {
  overflow-x: hidden;
}

h1 {
  text-align: left;
  margin: 149px 0 10px 26px;
}

.white {
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
}

.header .bar {
  display: none;
}

.header .shadow {
  box-shadow: -3px -2px 35px 11px rgba(0, 0, 0, 0.15);
}

.header .open .bar {
  display: flex;
}

header .close {
  margin-right: -123px;
  float: right;
}

.card-details img {
  padding-top: 16px;
}

header .close img {
  width: 65px;
}

.logo {
  padding-left: 2rem;
  margin-left: -15px;
}

.logo a {
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  color: #6070ff;
  flex-wrap: nowrap;
}

.logo:hover {
  animation-name: rotate;
  animation-duration: 1.7s;
}

.menu-mobile {
  height: 100%;
}

.nav-list {
  display: none;
}

.navbar .menu {
  height: 100%;
  line-height: 50px;
  padding-right: 2.5rem;
}

.navbar .menu .bx {
  font-size: 3rem;
  color: #6070ff;
  line-height: 50px;
}

.main-container {
  display: flex;
}

.content {
  background-image: url(header-mobile.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
  position: relative;
  width: 100%;
  height: calc(718px - 60px);
}

.content p {
  margin: 25px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #344563;
}

ul.media-platform {
  display: flex;
  padding-left: 1rem;
  list-style-type: none;
  margin-top: 1.4rem;
  gap: 20px;
}

ul li i {
  color: #505f79;
}

.connect {
  margin-left: 25px;
  color: #7f8cff;
}

.spanDev {
  padding-left: 32px;
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.container-fluid {
  width: 361px;
  padding-top: 114px;
}

.card-details {
  width: 327px;
  height: 552px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

ul.classic {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.classic-name {
  color: #253858;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  line-height: 20px;
  padding-top: 18px;
}

.languages li {
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  font-size: 12px;
}

.languages-ul li {
  flex-direction: row;
  background-color: #f7f7f9;
  padding: 4px 12px;
  border-radius: 8px;
  gap: 20px;
  color: #6070ff;
  font-size: 12px;
}

.lang-li li {
  padding-top: 23px;
}

ul.classic li {
  display: inline-flex;
}

.languages-ul {
  display: flex;
  flex-direction: column;
}

.lang2 {
  padding-top: 60px;
  padding-bottom: 20px;
}

.text-div {
  display: flex;
  margin-top: 12px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.see-project a {
  font-size: 17px;
  text-decoration: none;
  color: #396df2;
}

.see-project {
  color: #396df2;
  padding: 16px;
  background: #fff;
  border-radius: 16px;
  border: solid 1px #396df2;
  margin-top: 0;
}

.see-project:hover {
  background-color: #6070ff;
  color: white;
}

.see-project:active {
  background: #2230d2;
  color: white;
}

.see-project:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.see-project-btn {
  color: #396df2;
  width: 140px;
  font-family: "Poppins", sans-serif;
  padding: 16px;
  background: #fff;
  font-size: 17px;
  border-radius: 16px;
  border: solid 1px #396df2;
}

.see-project-btn:hover {
  background-color: #6070ff;
  color: white;
}

.see-project-btn:active {
  background: #2230d2;
  color: white;
}

.see-project-btn:disabled {
  background: #e5e5e5;
  color: #5e6c84;
}

.common {
  color: #7a869a;
  list-style: circle;
}

.tech-btns {
  display: flex;
  gap: 25px;
}

.paragraph {
  margin: 10px 0;
  margin-top: 16px;
  color: #344563;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 0;
  width: auto;
}

.ul-skills {
  display: flex;
}

ul.skills li {
  display: inline-flex;
}

.title {
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: auto;
  gap: 88px;
  margin-top: 114px;
  margin-bottom: 200px;
}

.About-Myself {
  background-color: white;
  border-top-right-radius: 100px;
}

.grid {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.details {
  width: 50px;
  position: static;
  font-style: normal;
  height: 52px;
  padding-top: 60px;
  padding-bottom: 51px;
  line-height: 35px;
  font-size: 35px;
  margin: 40px 10px 30px 0;
  color: #091e42;
  letter-spacing: 0.37px;
}

.prgph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  position: static;
  width: 313px;
  height: 144px;
  left: 0;
  top: 113px;
}

.btn-get {
  font-family: "poppins", sans-serif;
  color: #396df2;
  line-height: 24px;
  padding: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 170px;
  font-weight: 500;
  background: #fff;
  border-radius: 16px;
  font-size: 17px;
  border: solid 1px #396df2;
  margin-top: 18px;
}

.languages {
  display: flex;
  gap: 15px;
  margin: 20px;
  list-style: none;
  margin-top: 12px;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.Experience {
  bottom: 30px;
  position: relative;
}

.lang2-arrow {
  display: inline;
}

.tech-skills {
  display: flex;
}

ul.ul-skills li {
  gap: 20px;
}

.contact-form {
  background: #6070ff url("./photos/contact\ form-mobile.png") no-repeat right;
  border-radius: 75px 0 0 0;
}

.container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  border: 1px;
  padding-bottom: 40px;
  margin: auto;
}

.contact-form h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  width: 74%;
  font-size: 40px;
  line-height: 52px;
  justify-content: center;
  margin: 4px auto;
  padding-top: 155px;
  color: #fff;
}

.hr {
  height: 5px;
  width: 134px;
  left: 120px;
  margin-left: 100px;
  top: 21px;
  border-radius: 10px;
  margin-bottom: 8px;
  background-color: #0d151e;
  text-align: center;
}

.contact-form p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 10px auto;
  font-size: 20px;
  width: 305px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  padding: 4px;
}

.description-contact {
  margin: auto;
  width: 84%;
}

form {
  margin: auto 45px;
}

.form input {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form textarea {
  width: 100%;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 15rem;
}

.button {
  border-radius: 500px;
}

.see-project-btn {
  transition: transform, color, 2s;
}

.see-project-btn:hover {
  transform: scale(1.2);
  color: rgb(182, 92, 92);
}

.line1 {
  width: 100%;
  height: 12px;
}

hr {
  width: 325px;
}

.common-li {
  border-bottom: solid 1px #dfe1e6;
}

.lang-name {
  display: flex;
  padding-bottom: 23px;
  align-items: center;
  justify-content: space-between;
}
